*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(img/6.jpg);
    background-size: cover;
}

.register{
    width: 500px;
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
    backdrop-filter: blur(2px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px #a29bfe;
    border-radius: 15px;
    }

 .table{
        font: 900 40px '';
        text-align: center;
        letter-spacing: 5px;
        color: #a29bfe;
        }

 .box{
            overflow: hidden;
            }

 .box input{
            width: 100%;
            margin-bottom: 20px;
            outline: none;
            border: 0;
            padding: 10px;
            background-color: transparent;
            border-bottom: 3px solid rgb(150,150,240);
            font: 900 16px '';
            
            }
 /* .go{
        text-align: center;
        display: block;
         height: 24px;
         padding: 12px;
         font: 900 20px;
         border-radius: 10px;
         margin-top: 20px;
         color: #fff;
         letter-spacing: 3px;
         background-image: linear-gradient(to left,
         #fd79a8,#a29bf6);
         
     } */

.content{
         text-align: center;
         margin: 14px;
        color:#fd79a8;
        text-decoration:underline;
        }
        
 a{
        color:#ff0;
        }
        
#register{
            display: block;
            width: 100%;
            color: #fff;
            font-size: 14px;
            margin: 0;
            padding: 14px 40px;
            border: 0;
            background-image: linear-gradient(to left,
         #fd79a8,#a29bf6);
            font: 900 20px;
            border-radius: 25px;
            line-height: 1;
            cursor: pointer;
            font-family: "Permanent Marker", cursive;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 3px;
            font-size: larger;
           }
       