*{
    padding: 0;
    margin: 0;
    outline: none;
}
/*  背景颜色 */
body{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
/* 表单颜色 */
.form-contents{
    /* width: 562px;
    height: 520px;
    background-color: #fff;
    box-shadow: 0px,15px,40px #b6354e ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/8.jpg); */
    width: 450px;
    height: 520px;
    justify-content: center;
    display: flex;
    align-items: center;
  
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px #a29bfe;
    border-radius: 15px;
    background-color:  #fff;
    /* background-image: linear-gradient(to left,
    #a29bf6,#fd79a8); */
}

.contents{
    /* width: 562px;
    height: 520px;
    background-color: #fff;
    box-shadow: 0px,15px,40px #b6354e ;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/8.jpg); */
    width: 450px;
    height: 520px;
    /* justify-content: center; */
    /*display: flex; */
    align-items: center;
  
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px #a29bfe;
    border-radius: 15px;
    background-color:  #fff;
    /* background-image: linear-gradient(to left,
    #a29bf6,#fd79a8); */
}

/*========= 共通設定CSS ===============*/

/* 表单和上下之间距离 */
main {
    margin-top: 6rem;
    margin-bottom:3rem;
}


/*========= ヘッダーのCSS ===============*/
/* 商品名的表单的构造 */
header {
    background-color: rgba(255, 255, 255, .7);
   
    height: 4rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    border-bottom: 1px solid rgb(236, 229, 229);
    
}

/*ヘッダーの幅を綺麗にそろえるために要素の大きさを均一にする*/







/*-------------------------------------------------------
                        登録画面
---------------------------------------------------------*/
/* 整个登录界面的间隔和大小 */
.register-section {
    width: 80%;
    margin: 0 auto;
    padding-top: 1.5rem;
}



/* 整个登录画面表单构造 */
.register-section-details_flex {
    display: flex;
    /* justify-content: center; */
    gap: 0 2rem;
    align-items: center;
    margin: 1.2rem 0;
    /* width: 320px; */
}

.register-section-details_button{
	text-align: center;
}

.register-section-details { 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100%;
    margin-top: 60px;
    padding: 13px 25px;
    border: 2px solid #6e6d6d;
    line-height: 1;
    border-radius: 20px;
    margin-bottom: 30px; */
   
}

/*-------------------------------*/
/* 商品名的框大小 */

 
input[type="text"] {
    padding: 13px 25px;
    border: 10px solid #6e6d6d;
    line-height: 0.5;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 0 0 3px #ccc inset;
    /* width: 200px; */
    width: 210px;
    outline: none;
    border: none;
    border-bottom: 2px solid #70b4e3;
    color:#366ae6 ;
   
}
/* 入力欄のタイトル調整 */
.contents-width{
    width: 70px;
    text-align: left;
}
/* 入力欄の大きさ調整 */
.input-width {
    width: 260px;
}

/* 商品说明大小设计 */

textarea{
    padding: 22px 25px;
    border: 10px solid #6e6d6d;
    line-height: 1;
    border-radius: 20px;
    margin-bottom: 15px;
    resize: vertical;
    box-shadow: 0 0 0 3px #ccc inset;
    font-size: 1rem;
   

  
    
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid #70b4e3;
    
 
    
}

/* 下拉菜单的大小设计 */

select{
    padding: 13px 25px;
    
    line-height: 1;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 0 0 3px #ccc inset;
 

    width: 100%;
    outline: none;
    border: none;
    border-bottom: 3px solid #70b4e3;
    color:#366ae6 ;
    background:rgba(0,0, 0, 0);
}


/*-----------------ヘッダー-----------------*/
    .pc {
        display: block;
        padding-top: 1.5rem;
    }

 
/* 展示右边的链接 */
    .pc-inner {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;

    }
/* 是右边的链接横向排序 */
    .pc-list {
        display: flex;
        align-items: center;
        gap: 0 1.5rem;
    }
/* 右边链接的字体 */
    .pc-list a {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
    }
	.pc-list h2 {
	     font-size: 1.2rem;
	     font-weight: 600;
	     color: #594A4E;
	     font-family: "Permanent Marker", cursive;
	     font-weight: 400;
	     font-style: normal;
	 }
/* 点击右边链接边颜色 */
    .pc-list a:hover {
        color: #2f8792;
    }


/* 让字不超过规定的区域 */
    .menu {
        display: none;
    }


/* 注册按纽 */
#register{
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 14px 40px;
    border: 0;
     background-image: linear-gradient(120deg,#78daec 0%,#c5a8de 100%) ;
    border-radius: 25px;
    line-height: 1;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
   }
   
#update{
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 14px 40px;
    border: 0;
     background-image: linear-gradient(120deg,#78daec 0%,#c5a8de 100%) ;
    border-radius: 25px;
    line-height: 1;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
   }
#delete{
    /*display: block; */
    width: 210px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 14px 40px;
    border: 0;
     background-image: linear-gradient(120deg,#78daec 0%,#c5a8de 100%) ;
    border-radius: 25px;
    line-height: 1;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
   }
   
/* 返回按钮 */
#back-btn{
    /* display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 14px 40px;
    border: 0;
    background-color: #f5506c;
    border-radius: 25px;
    line-height: 1;
    cursor: pointer; */
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 14px 40px;
    border: 0;
     background-image: linear-gradient(120deg,#78daec 0%,#c5a8de 100%) ;
    border-radius: 25px;
    line-height: 1;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;


}
/* 名字的字体颜色和大小 ID选择器*/
.w-line-1{
    font-size: 1.2rem;
    font-weight: 600;
    color: #594A4E;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
	display: flex;
}


 
/* 新规记事 ,类选择器*/


/* 字体大小和类型 */
h3{
    font-size: 20px;
    font-weight: 400;
    color:#70b4e3;
    padding: 7px 0;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}
#title{
	font-weight: 400;
	color:#70b4e3;
	padding: 7px 4;
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: 30px;
}





 


 






 






